.canvas {
  width: 500px;
  height: 600px;
  background-color: #FFCF56;
  overflow: hidden;
  /* filter: blur(2px); */
  border-radius: 20px;
}

.frame {
  border: 30px solid black;
  width: 500px;
  padding: 10px;
  margin: 20px auto;
}

.one {
  width: 425px;
  height: 150px;
  background-color: #3AB795;
  margin: 20px auto;
  /* box-shadow: 0 0 3px 3px #345995; */
  border: solid 20px #345995;
  border-radius: 20px;
  transform: rotate(-10deg);
}

.two {
  width: 475px;
  height: 220px;
  background-color: #E40066;
  margin: 0 auto 20px;
  /* box-shadow: 0 0 3px 3px #345995; */
  border: solid 4px black;
  border-radius: 8px 10px;
  transform: rotate(7deg);
}

/* .one, .two {
  filter: blur(1px);
} */

.three {
  width: 91%;
  height: 28%;
  background-color: #FB4D3D;
  margin: auto;
  /* filter: blur(2px); */
  /* box-shadow: 0 0 5px 5px #345995; */
  border: solid 15px #345995;
  border-radius: 60px 20px 60px 12px;
  transform: rotate(-2deg)

}
 p{
  color:aliceblue;
  text-align: center;
  margin: 45px;
  font-size: 50px;
  
  
 }

 .green{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .pink{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .orange{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
 }
 